<!DOCTYPE html>
<html lang="fr" class="bg-gray-800" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonory</title>
    <link href="{{ asset('build/style.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ asset('assets/images/SonoryLogo.png') }}" type="image/png">
</head>
<body>
    {% block navbar %}
        {% include 'partials/navbar.html.twig' %}
    {% endblock %}
    
    <div class="py-[104px]">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
