{% extends 'index.html.twig' %}

{% block title %}Albums - Sonory{% endblock %}

{% block body %}
<div class="container mx-auto py-6">
    <h1 class="text-3xl font-bold text-white mb-6">Albums</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {% for album in albums %}
            <div class="bg-gray-800 p-5 rounded-lg shadow-lg text-white">
                <h2 class="text-2xl font-semibold mb-2">{{ album.title }}</h2>
                <p class="text-gray-400">{{ album.date|date('Y') }}</p>
                <a href="{{ path('album_detail', {'artistId': album.artist.id, 'albumPos': albumsPos[album.id]}) }}" class="text-blue-500 hover:text-blue-300 mt-3 inline-block">See Details</a>
            </div>
        {% else %}
            <p class="text-gray-400">No albums available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
