{% extends 'index.html.twig' %}

{% block title %}Login - Sonory{% endblock %}

{% block body %}
<div class="container mx-auto py-6">
    <h1 class="text-3xl font-bold text-white mb-6">Se Connecter</h1>
    <form method="post" action="{{ path('api_login') }}" class="mb-6">
        <div class="flex items-center flex-col">
            <input type="text" name="email" placeholder="Email..." value=""
            class="w-full p-2 rounded-l-lg border border-gray-700 bg-gray-900 text-white"/>
            <input type="text" name="password" placeholder="Email..." value=""
            class="w-full p-2 rounded-l-lg border border-gray-700 bg-gray-900 text-white"/>
            <button type="submit" class="ml-2 p-2 bg-blue-500 hover:bg-blue-400 text-white rounded-lg">Se Connecter</button>
        </div>
    </form>
</div>
{% endblock %}
